.idea
*/.idea
build/
artifacts/
*.spec
logs
**/__pycache__
*/venv
data/

# Vite
.vite
dist
.env.local
.env.*.local
.env
server.ssh.profile

grafana/**/
!grafana/*
grafana/provisions/datasources
!grafana/provisions

test_data
.test_data
.trash

.DS_Store